
body {
    background: url(../img/pet.jpg) no-repeat;
    background-size: cover;
}

.page-back {
    transform: translateY(-30rem);
    -webkit-transform: translateY(-30rem);
    background: rgba(0, 0, 0, 0.48);
    height: 100%;
    width: 100%;
    position: fixed;
}
.back-style{
    color: white;
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 1.7rem;
    margin-top:1rem;
    margin-left:1rem;
    display: inline-block;
    font-size: 2.5rem;
}
.back-style:hover,.back-style:focus{
    background-color: #e0e3e4;
}
.form-style {
    position: absolute;
    width: 100%;
    top: 13%;
    padding: 5rem 3rem;
}

.form-input label {
    font-size: 3rem;
    color: powderblue;
    letter-spacing: -1px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.input-text {
    margin-bottom: 2rem;
}

.input-text input {
    height: 4rem;
}

.checkbox {
    /*font-size: 2rem;*/
    color: #d43f3a;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.btn-style {
    margin: 0;
    height: 4rem;
    margin-top: 3.5rem;
}

.txt-center span {
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: underline gainsboro;
    color: gainsboro;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    bottom: 1rem;
}

.txt-center a:hover {
    text-decoration: none;
}

.txt-center span:hover, .txt-center span:focus {
    color: #8a6de9;
    border: none;
}

/*!*适配*!*/
@media (max-width: 2000px) {
    .form-style {
        padding: 0 25rem;
    }
}

@media (max-width: 640px) {
    .form-style {
        padding: 5rem 3rem;
    }
}
@media (max-width: 480px) {
    .form-style{
        padding:3rem 3rem;
    }
    .input-text{
        margin-bottom: 1.2rem;
    }
}